<h3> Buscar Por Región <small> {{ regionActiva | titlecase}}</small></h3>
<hr>

<h5>Seleccione la region</h5>



<div class="row">
    <div class="col">
        <!-- Diferentes opciones para agregar o quitar clases -->
        <!-- [class.btn-primary]=" region === regionActiva" -->
        <!-- [ngClass]="{
            'btn-primary': regionActiva=== region,
            'btn-outline-primary': regionActiva !== region
        }" -->
        <button *ngFor="let region of regiones"
                [class]="getClasesCSS(region)"
                
                (click)="activarRegion (region); buscar(region)">
            {{region | titlecase}}
        </button>
    </div>

</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>